/* ===== RESET ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== ROOT LOCK ===== */
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ===== BODY ===== */
body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Arial, sans-serif;

  background-color: #020617;
  color: #e5e7eb;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}
